/*Global CSS*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

a.icons{
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color: #3B688D;
}

body{
	font-family: arial,helvetica;
	color: #333;
	color: #646464;
}

h1{
	font-size: 6em;
}
h2{
	font-size: 5em;
  margin: 10px;
}

h3{
  font-size: 2.5em;
  margin: 5px;
}

p{
	font-size: 1.4em;
  margin: 10px;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;

}



.section, .intro{
	text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

}

/*Intro Section*/

#section0{
  background-image: url("../images/background1.png");

}

span{
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
 font-family: Consolas;
 font-style: italic;
 color: #bdbdbd;
 font-size: 1.7em;
}

/*About Me Section*/

#section1{
  background-image: url("../images/background2.jpg");
}

div.circle {
border-radius: 50%;
width: 25%;
position: relative;
overflow: hidden;
}

div.circle:before {
content: "";
display: block;
padding-top: 100%;
}

div.circle-inner {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
text-align: center;
}


img{
  max-height: 100%;
  position: relative;
}



/*Portfolio Section*/

#section2{
  background-image: url("../images/background3.jpg");
}

.intro p{
	width: 50%;
}

/*Contact Section*/

#section3{
  background-image: url("../images/background4.png");
}

div.icon{
  width:200px;
  height:200px;
  margin: 20px;
  padding:10px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100%;
  align-items: center;
  justify-content:center;
  position:relative;
  display:flex;
  flex-direction: column;
  overflow:hidden;
}

div.icon img{
  width: 150px;
}


div#email:hover:after{
 content:"Email Me";
 text-align: center;
 align-items: center;
 justify-content:center;
 position:relative;
 display:flex;
 color: white;
 font-size: 32px;
 width:100%;
 height:100%;
 background: RGBA(15, 59, 100, .7);
 border-radius: 100%;
 position:absolute;
 top:0;
 left:0;
}
div#resume:hover:after{
 content:"Download Resume";
 text-align: center;
 align-items: center;
 justify-content:center;
 position:relative;
 display:flex;
 color: white;
 font-size: 32px;
 width:100%;
 height:100%;
 background: RGBA(15, 59, 100, .7);
 border-radius: 100%;
 position:absolute;
 top:0;
 left:0;
}

div#twitter:hover:after{
 content:"Tweet, Tweet!";
 text-align: center;
 align-items: center;
 justify-content:center;
 position:relative;
 display:flex;
 color: white;
 font-size: 32px;
 width:100%;
 height:100%;
 background: RGBA(15, 59, 100, .7);
 border-radius: 100%;
 position:absolute;
 top:0;
 left:0;
 padding: 10px;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

#port{
    margin-top: 100px;
}

/* For mobile responsiveness: */
@media only screen and (max-width: 820px) {

    #section0{
      background-image: url("../images/mobile_background.png");
    }

    .intro p, span{
    	width: 90%;
    	font-size: 1.1em;

    }

    span{
      line-height: 40px;
    }

    div.icon{
      width: 110px;
      height: 110px;
      margin: 10px;
    }

    div.icon img{
      width: 80px;
    }

    div#twitter:hover:after{
      font-size: 22px;
    }

    div#email:hover:after{
      font-size: 22px;
    }

    div#resume:hover:after{
      font-size: 22px;
    }

    h1{
    	font-size: 4.5em;
    }
    h2{
    	font-size: 3.5em;
      margin: 10px;
    }

    h3{
      font-size: 2em;
      margin: 5px;
    }

    div.circle{
      width: 45%;
    }

    .navbar-default .navbar-brand {
      margin-top:5px;
    }

    #port{
        margin-top: 80px;
    }

}

@media(min-width:820px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }

}
