#section0{
  background-image: url("images/background6.png");
  background-size: cover;
}

#section1{
  background-image: url("images/background7.jpg");
  background-size: cover;
}

#section2{
  background-image: url("images/background10.jpg");
  background-size: cover;
}

#section3{
  background-image: url("images/background3.png");
  background-size: cover;
}
